/* A Free Design by Bryant Smith (bryantsmith.com) */

@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');



body {
	margin: 0;
	padding: 0;
	text-align: left;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	color: #292929;
	background: #292929;
}
*
{
  margin: 0 auto 0 auto;
 text-align:left;}

#container
{
  display: block; 
  height:auto;
  position: relative; 
  width: 960px;
}


#header
{
height:85px;
width:960px;	
}

#header h1
{
font-family: Palatino; Palatino Linotype;
position:absolute;
text-align:center;
color:#FFFFFF;
font-size:43px;
color:#FFF;	
left:14px;
top:18px;

font-family: 'Helvetica Neue', sans-serif; 
font-size: 80px; 
font-weight: bold; 
letter-spacing: -1px; 
line-height: 1; 
}


#header h2
{
font-family: "Lobster", cursive;
font-weight: normal;
font-size: 30px;
position:absolute;
text-align:right;
color:#FFFFFF;
left:500px;
top:38px;
}

#header h3
{
font-family: "Helvetica Neue", sans-serif;
font-weight: normal;
font-size: 20px;
position:absolute;
text-align:right;
color:#FFFFFF;
}



.off
{
color:#67A0F5;
}


#menu
{
display:block;
float:left;
clear:both;
width:960px;
height:54px;
float:left;
clear:both;
}


#ul
{
	font-color: #FFFFFF;
}




#content
{
display:block;
float:left;
width:689px;
height:auto;
padding-left:10px;
padding-top:15px;
padding-right:10px;
padding-bottom:5px;
}


#content_top
{
	background-image:url(images/main_top.png);
	background-repeat:no-repeat;
	width:689px;
	height:25px;
}

#content_main
{
background-image:url(images/main_back.png);
background-repeat:repeat-y;
width:659px;
padding-left:15px;
padding-right:15px;
}

#content_bottom
{
background-image:url(images/main_bottom.png);
background-repeat:no-repeat;
width:689px;
height:25px;
}


#footer
{
width:inherit;
height:auto;
}

#footer h3
{
display:inline;
text-align:center;
font-size:12px;
text-decoration:none;
color:#FFFFFF;
}


#content p
{
	
}


html, body {
text-align: center;
}
p {text-align: left;}